*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif;
}

.header{
    height: 100vh;
    background-image:linear-gradient(rgba(3,4,7,0.48), rgba(5,10,30,0.48)),url("https://cdn.hihello.me/v/bfbbea0c-ef0b-4ebb-9e2d-2081ba376534.png.image_large.");
    background-size: cover;
    background-position:top;
}

.header-brand{
    color: #fff;
    text-decoration:none;
    font-weight: 700;
    font-size:45px;
}

.header-brand_span{
    color:#20e700;
}

nav{
    font-display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%, 7%;
}

nav ul li{
    display: inline-block;
    margin: 10px, 20px;

}

nav ul li a{
    
}